// Discord Bot Configuration
// BOTのトークン
TOKEN = ""
// サポートサーバーのサーバーID
SUPPORT_GUILD_ID = ""

// Support Ticket Configuration
// 開いているチケットのカテゴリーID
OPEN_TICKET_CATEGORY_ID = ""
// サポートチームメンバーのロールID
SUPPORT_ROLE_ID = ""
// 閉じたチケットのカテゴリー名(「%n」はチャンネル数が50を超えたときのための連番に置き換えられます。)
CLOSED_TICKET_CATEGORY_NAME = ""